@import url('sket.css');

body {
    background-color: hsl(0, 0%, 99%);
}

header {
    padding: 15px 0;
    display: flex;
    width: 100%;
    text-align: center;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(hsl(0, 0%, 100%),hsl(0, 0%, 95%));
}
header #site-logo {
    margin: 0 auto;
}
header a {
    font-family: 'Montserrat', sans-serif;
    font-size: 7vmin;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--typo-two);
}

.burger-btn {
    margin-left: 10px;
    padding: 10px 15px;
    position: fixed;
    z-index: 1;
    font-size: 5vmin;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--mater-one);
    cursor: pointer;
}

/* Navigation Section */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--mater-two);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Hero Section */
.hero-image {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    height: 100vh;
    background: url('../img/photo_01.jpg') no-repeat center center fixed;
    background-size: cover;
}
.hero-image .container {
    margin: auto 20vmin;
}
.hero-image h2 {
    font-size: 6vmin;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: var(--typo-one);
}

/* Inner Hero Section */
.inner-hero {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    height: 40vh;
    background-size: cover;
}
.inner-hero .container {
    margin: auto 20vmin;
}
.inner-hero h2 {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 7.5vh;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: var(--typo-one);
}
/* Multisection Hero */
.works-hero {
    background: url('../img/photo_02.jpg') no-repeat center 40% fixed;
}
.bio-hero {
    background: url('../img/photo_01.jpg') no-repeat center 40% fixed;
}
.contact-hero {
    background: url('../img/contact-hero.jpg') no-repeat center 40% fixed;
}

/* Biography Page */
#biography {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "biophoto biointro";
    column-gap: 30px;
}
.bio-photo {
    grid-area: biophoto;
}
.bio-photo img {
    width: 100%;
    height: auto;
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.bio-intro {
    grid-area: biointro;
}
.bio-intro article {
    margin-bottom: 20px;
}
.bio-intro p {
    padding-bottom: 1rem;
    text-indent: 1.5rem;
    text-align: justify;
}
.bio-intro li {
    padding-top: 5px;
    list-style-position: inside;
}

/* Works Page */
.article-grid {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 40vh;
    grid-template-areas: 
        "image descript";
    column-gap: 30px;
}
.article-grid .works-img {
    grid-area: image;
    overflow: hidden;
}
.article-grid .descript {
    grid-area: descript;
}
.article-grid p {
    padding-bottom: 1rem;
}
.article-grid .works-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Post Section */
.post-title {
    margin-bottom: 20px;
}
.post-title .tool-list ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.post-title .tool-list li {
    margin: 5px 7px;
    padding: 2px 10px;
    list-style: none;
    border-radius: 7px;
    color: hsl(220, 100%, 70%);
    background-color: hsl(220, 100%, 95%);
}
.post-content {
    padding: 0 30px;
    text-align: center;
}
.post-content img {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
}

/* Contact Page */
#contact {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "guide form";
    column-gap: 30px;
}
.contact-guide {
    grid-area: guide;
}
.contact-form {
    grid-area: form;
}
.contact-guide p {
    padding-bottom: 1rem;
}
.contact-guide .networks {
    display: flex;
}
.contact-guide .networks a {
    margin-right: 30px;
    text-decoration: none;
    color: var(--typo-two);
}
.contact-guide .networks i {
    padding-right: 10px;
    font-size: 1.5rem;
}
.contact-form input {
    margin: 10px auto 20px auto;
    padding: 10px 0;
    width: 100%;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px hsl(0, 0%, 93%);
}
.contact-form textarea {
    margin: 10px auto;
    padding: 10px 0;
    width: 100%;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px hsl(0, 0%, 93%);
}
.contact-form .namefield {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "fname lname";
    column-gap: 20px;
}
.firstname {
    grid-area: fname;
}
.lastname {
    grid-area: lname;
}

/* Footer Section */
footer {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--typo-one);
    background-color: var(--typo-two);
}

@media(max-width: 768px) {
    #biography {
        margin-bottom: 100px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "biophoto"
        "biointro";
        row-gap: 25px;
    }
    .article-grid {
        display: grid;
        grid-template-rows: 30vh 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "image"
        "descript";
        row-gap: 15px;
    }
    #contact {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "guide"
        "form";
        row-gap: 25px;
    }
    .contact-form .namefield {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "fname"
            "lname";
        column-gap: 20px;
    }
    .firstname {
        grid-area: fname;
    }
    .lastname {
        grid-area: lname;
    }
}